/*Small devices (landscape phones, 1000px and up)*/
@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
}

/*Medium devices (tablets, 1192px and up)*/
@media (min-width: 1192px) {
  .tablet {
    display: none;
  }
}

/*Large devices (desktops, 1416px and up)*/
@media (min-width: 1416px) {
  .desktop {
    display: none;
  }
}
