/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { .small{ display: none; } }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { .medium{ display: none; } }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { .large{ display: none; } }